<div class="container text-center my-5 p-5 bg-dark bg-opacity-75 rounded-3 text-light shadow">
  
  <h1 class="display-4 fw-bold text-warning mb-3">¡Bienvenidos al Rincón Sabroso!</h1>
  <p class="lead mb-4">La mejor comida rápida de la zona, directa a tu mesa en minutos.</p>
  
  <div *ngIf="mensaje" class="alert alert-info fw-bold w-50 mx-auto shadow-sm">
    {{ mensaje }}
  </div>

  <button class="btn btn-warning btn-lg fw-bold px-5 py-3 shadow" (click)="intentarEntrar()">
    🔑 Entrar a la App para Pedir
  </button>

</div>